<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud teste</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css"> 
    <style>
        table {
        font-size: 1em;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        }
    th {
      font-weight: bold;
      font-size: 1em;
      text-align: left;
      max-width: 25%;
    }
    td {
        word-wrap: break-word;  
    }       

    </style>
</head>

<body>

    {% block updateCliente %}
    
    {% endblock %}

    {% block updateProduto %}
    
    {% endblock %}

    {% block home %}
    
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
</body>

</html>